*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.todo-container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #333, #000000);
    padding: 10px;
}

.heading-container{
    width: 100%;
    max-width: 540px;
    background: #e3e3e3;
    margin: 100px auto 20px;
    padding: 20px 180px 1px;
    border-radius: 10px;
}

.heading-container h2{
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-container{
    width: 100%;
    max-width: 540px;
    background: #e3e3e3;
    margin: 10px auto 20px;
    padding: 40px 30px 30px;
    border-radius: 10px;
}

.adding-task-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c6c6c6;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.adding-task-container input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 17px;
}

.adding-task-container button{
    border: none;
    outline: none;
    padding: 14px 50px;
    background: #626262;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}

.adding-task-container button:hover{
    background: #2b2b2b;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unckecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.completed-task{
    color: #555;
    text-decoration: line-through;
}

ul li.completed-task::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #626262;
    color: #fff;
    border-radius: 50%;
}